$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$font-size: 10px;

html{
  font-family: $font-stack;
  color: $primary-color;
  font-size: $font-size+2 + (1*2);
}

h1{
  font-size: $font-size + (3*4);
}

$secondary-color: lighten($primary-color, 10%);

p{
  color: $secondary-color;
}

$root: '/images/';

#form{
  background: url('#{$root}background.jpg');
}

$name: 'my-class';

.#{$name}{
  color: blue;
}
